<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @dlog.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @dlog.title %>
</p>


<%= link_to 'Edit', edit_dlog_path(@dlog) %> |
<%= link_to 'Back', dlogs_path %>
